diabetes/
dummy_variable_file/
breast_cancer_income_DTR/
flash_vs_arrow_for_SLR/
Intruder Alert/
income_for_kmeans(1)/
income_for_kmeans/
hr_analytics/
homeprices/
home_pricesforSIMPLELINEARREGRESSION/
Mall_Customers_HC/
melbourne/
Position_Salaries_poly/
Restaurant_Reviews/
spam/
Weather_dataset_for_GNB/
Weather_dataset_for_NB(1)/
Weather_dataset_for_NB/